<!-- <div class="box-tools">
  <div class="input-group">
    <i class="fa fa-search"></i>
    <input type="text" placeholder="Search" aria-label="Search" class="form-control" (keyup)="onKeyUp($event)"
      value="{{value}}">
    <div class="input-group-btn">

    </div>
  </div>
</div> -->

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" aria-label="Search" class="form-control" placeholder="Search" value="{{value}}" (keyup)="onKeyUp($event)">
</div>
