<div class="content-wrap">
  <div class="row nav-items">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <button class="nav-link" (click)="getItems()">All</button>

            </a>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="filterCategory('dresses')">Dresses</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="filterCategory('coats')">Coats</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="filterCategory('shirts')">Shirts</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="filterCategory('jerseys')">Jerseys</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <button class="btn btn-primary">Activate</button>
  <search-filter class="search" [placeholder]="'Search'" [value]="''" (changeEvent)="onSearchUpdated($event)">
  </search-filter>
  <ng-template #loading>
    <p *ngIf="isFetching">Loading Items...</p>
   </ng-template>
  <div class="item-box">
    <ng-container *ngIf="items !== undefined && !isFetching" else loading>
    <div class="item-card" *ngFor="let item of items let i = index">
      <img src="{{item.imageUrl}}">
      <p class="item-caption">{{item.id}}</p>
      <p class="item-caption">€ {{item.price}}</p>
      <!-- <i (click)="itemLiked(i)" class="custom-icons" [ngClass]="likeToggle === true ? 'i-heart-fill' :  'i-heart'"></i> -->
      <i (click)="itemLiked(i)" class="custom-icons" [ngClass]="item.like === true ? 'i-heart-fill' :  'i-heart'"></i>
    </div>
  </ng-container>
  </div>
</div>
